* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
}
.contenedor {
    padding: 35px 0;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}
.titulo {
    color: #F7B733;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}
.arriba {
    padding-top: 0;
}

/*Encabezado*/
header {
    width: 100%;
    height: 700px;
    background: rgba(74,189,172,0.73);
    background: linear-gradient(92deg,rgba(74,189,172,0.73) 0%, rgba(74,189,172,0.8) 80%), url(../img/enca_1.jpg);
    background: -webkit-linear-gradient(92deg,rgba(74,189,172,0.73) 0%, rgba(74,189,172,0.8) 80%), url(../img/enca_1.jpg);
    background: -moz-linear-gradient(92deg,rgba(74,189,172,0.73) 0%, rgba(74,189,172,0.8) 80%), url(../img/enca_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.menu {
    width: 100%;
    height: 50px;
    text-decoration: none;
}
figure .logo {
    width: 12%;
    height: 80px;
    position: absolute;
    margin: 10px 10px;
}
nav {
    float: right;
}
.menu_principal {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;    
}
.menu_1 {
    float: left;
    width: 110px;
    line-height: 40px;
    list-style: none;
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
}
.menu_1 a {
    list-style: none;
    color: seashell;
    text-align: center;
}
.menu_1:hover{
    background: rgba(178, 141, 71, .28);
}
.submenu {
    position: relative;
    width: 111px;
    text-align: center;
    line-height: 42px;
    border: 4px;
    background: rgba(178, 141, 71, .1); 
}
.submenu:hover {
    background: rgba(178, 141, 71, .1);
    transition: background .5s ease-out;
}
#menu_principal ul li ul{
    display: none;
}
#menu_principal ul li:hover ul{
    display: block;
    position: absolute;
}
.ola_img_enca {
    position: absolute;
    bottom: 0;
    width: 100%;
}
header .frase_enca {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.frase_enca h1 {
    font-size: 50px;
    color: #ffffff;
}
.frase_enca h2 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 20px;
}
/*Publicaciones*/
.publicaciones_container {
    position: relative;
    width: 820px;
    height: 1295px;
    margin: 10px auto;
    background: white;
    text-align: center;
}
.publicaciones_container h1 {
    margin: 0 auto;
    margin-bottom: 30px;
    color: #F7B733;
    font-size: 35px;
}

.publicaciones_container .publicaciones_box {
    position: relative;
    width: calc(400px - 20px);
    height: calc(300px - 30px);
    background: RGBA(77,185,170,0.29);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.publicaciones_container .publicaciones_box .publicaciones_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.publicaciones_container .publicaciones_box .publicaciones_icon:hover {
    top: 20px;
    left: calc(50% - 40px);
    width: 58px;
    height: 40px;
    
}
.publicaciones_container .publicaciones_box .publicaciones_icon .img_tesis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    font-size: 100px;
}
.publicaciones_container .publicaciones_box:hover .publicaciones_icon .img_tesis {
    height: 80px;
    margin-top: 30px;
}
.publicaciones_container .publicaciones_box .img_tesis_titulo {
    position: absolute;
    height: calc(100% - 10px);
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    top: 100%;
    transition: 0.8s;
}
.publicaciones_container .publicaciones_box:hover .img_tesis_titulo {
    top: 100px;
}
.publicaciones_container .publicaciones_box .img_tesis_titulo h3 {
    margin: 10px;
    padding: 0;
    color: black;
}
.publicaciones_container .publicaciones_box .img_tesis_titulo p {
    margin: 0;
    padding: 0;
    color: black;
}
.publicaciones_container .publicaciones_box:nth-child(2) .publicaciones_icon {
    background-color: rgba(74,189,172,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(3) .publicaciones_icon {
    background-color: rgba(252,74,26,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(4) .publicaciones_icon {
    background-color: rgba(252,74,26,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(5) .publicaciones_icon {
    background-color: rgba(74,189,172,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(6) .publicaciones_icon {
    background-color: rgba(74,189,172,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(7) .publicaciones_icon {
    background-color: rgba(252,74,26,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(8) .publicaciones_icon {
    background-color: rgba(252,74,26,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(9) .publicaciones_icon {
    background-color: rgba(74,189,172,0.73);
}
/*Footer*/
footer {
    padding: 70px 0 30px 0;
    margin: auto;
    overflow: hidden;
    background: rgba(247,183,51,0.83);
    background: linear-gradient(92deg,rgba(247,183,51,0.83) 0%, rgba(247,183,51,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background: -webkit-linear-gradient(92deg,rgba(247,183,51,0.83) 0%, rgba(247,183,51,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background: -moz-linear-gradient(92deg,rgba(247,183,51,0.83) 0%, rgba(247,183,51,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background-size: 100% 300px;
    height: 300px;
}
.contenedor_footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 80px;
    border-bottom: 1px solid #cccccc;
}
.texto_footer {
    text-align: center;
    font-weight: bold;
}
.email:hover {
    color: rgba(74,189,172,0.73);
    font-weight: bold;
}
.texto_footer h4 {
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.texto_footer p {
    color: white;
}
.texto_footer a {
    color: white;
    text-decoration: none;
}
.final_footer {
    text-align: center;
    font-size: 24px;
    margin: 30px 0 0 0;
    color: white;
}
.fa-facebook:hover {
    color:#3b5998;
}
.fa-linkedin:hover{
    color:#0e76a8;
}
.fa-whatsapp:hover{
    color:#00bb2d;
}
.fa-google-plus:hover {
    color:#db4a39;
}
.fa::before {
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin: 5px;
}


@media screen and (max-width:800px) {
    header {
        background-position: center;
    }
    .contenedor_arriba {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .arriba .texto_contenedor {
        width: 90%;
    }
    .img_publicaciones {
        width: 100%;
    }

    /*Portafolio*/
    .img_portafolio {
        width: 40%;
    }

    /*Acerca de*/
    .img_acerca_de {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .img_acerca_de_1 {
        width: 90%;
    }
    .img_acerca_de .img_acerca_de_1:first-child {
        margin-bottom: 30px;
    }

    /*Muro*/
    .img_muro {
        justify-content: center;
        flex-direction: column;
    }
    .img_muro_1 {
        width: 100%;
        text-align: center;
    }
    .img_muro_1:nth-child(1), .img_muro_1:nth-child(2) {
        margin-bottom: 60px;
    }
    .img_muro_1 img {
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a {
        margin-right: 5px;
    }
    .frase_enca h1 {
        font-size: 35px;
    }
    .frase_enca h2 {
        font-size: 20px;
    }

    /*Acerca de*/

    .img_publicaciones {
        margin-bottom: 60px;
        width: 99%;
    }
    .arriba .texto_contenedor {
        width: 95%;
    }

    /*Portafolio*/
    .img_portafolio {
        width: 95%;
    }

    /*Acerca de*/

    .img_acerca_de .img_acerca_de_1 {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img_acerca_de .img_acerca_de_1 img {
        width: 90px;
        height: 90px;
    }

    /*footer*/

    .contenedor_footer {
        flex-direction: column;
        border: none;
    }

    .texto_footer {
        margin-bottom: 20px;
        text-align: center;
    }
    .texto_footer h4 {
        border: none;
    }
    .texto_footer p {
        color: #cccccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 2opx;
    }
    .final_footer {
        font-size: 20px;
    }
}