@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/*General*/
* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
}

/*Encabezado*/
.encabezado {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: url(/img/enca_1.jpg);
    background-position: center;
    
}
.logo-principal {
    width: 100%;
    height: 160px;
    margin: 0;
    background: rgba(237, 238, 243, 0.73);
}
.logo-principal h1 {
    font-size: 70px;
    float: left;
    padding: 35px 20px;
    top: 0;
    left: 0;
    color: rgba(57, 62, 65);
    letter-spacing: 4px;
}
nav {
    width: 100%;
    z-index: 1;
    position: fixed;
    padding: 10px;
    background: rgba(57, 62, 65, .75);
    text-align: center;  
}
nav ul {
    list-style: none;    
}
nav ul li {
    display: inline;
    padding-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}
nav ul li a:hover {
    color: white;
}

/*Contenido*/
.encab-public {
    display: grid;
    height: 40px;
    grid-template-columns: 100%;
}
.encab-img-public {
    width: 100%;
    position: fixed;
    background: rgba(244, 169, 122,0.74);
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1;
    font-size: 13px;
}
.contenido {
    display: grid;
    width: 90%;
    height: 1000px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 260px;
    position: relative;
    margin: 40px 57px;
    border: solid gray;
    border-left-width: 0;
    border-top-width: 0;
}
a.link-modal{
    width: 284px;
    height: 260px;
	color: #fff;
	font-size: 1.5em;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	text-decoration: none;
    text-shadow: 2px 2px 0px #000;
    box-sizing: border-box;
}
.text-public-2 {
    height: 260px;
    box-sizing: border-box;
    background: rgba(155, 208, 212,0.73);
    hyphens: auto;
    letter-spacing: 0.022em;
}
.text-public-1 {
    height: 260px;
    box-sizing: border-box;
    background: white;
    hyphens: auto;
}
h3 {
	color: black;
	font-size: 19px;
    text-align: center;
    padding: 10px;
}
p.descrip-text-public {
	color: black;
    font-size: 15px;
    text-align: justify;
    padding: 10px;
    hyphens: auto;
}
p.nom-text-public {
    font-size: 13px;
    float: left;
    position: relative;
    bottom: -15px;
    padding: 10px;
}
.img-public-tesis {
    width: 284px;
    height: 260px;
    padding: 3px;
}

/*Modal*/
section.todo-modal {
    background-color: rgba(0, 0, 0, .8);
	bottom: 0;
	top:0;
	left: 0;
	right: 0;
	position: fixed;
    display: none;
    z-index: 2;
    padding: 40px;
}
section.todo-modal:target {
    display: block;
}
section.todo-modal:target .vent-modal {
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}
a.close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 15px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
a.close {
	background-color: #000;
}
section.vent-modal{
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    background: white;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: rotate(90deg) translate(-150%, 230%);
    transition: all 1s;
}
.img-modal {
    width: 40%;
    background-size: cover;
    background-position: center;
}
.img-vent-modal {
    width: 320px;
    height: 500px;
}
.text-modal {
    width: 60%;
    padding: 25px;
    overflow-y: auto;
    height: 400px;
}
.text-modal h2 {
    font-size: 30px;
}
.text-modal p {
    margin-top: 20px;
    font-size: 16px;
    text-align: justify;
    hyphens: auto;
}
.boton-modal {
    border: solid black .8px;
    font-size: 17px;
    padding: 15px;
    bottom: 30px;
    position: absolute;
    left: 520px;
    bottom: 20px;
}
.boton-modal a{
    text-decoration: none;
    color: black;
}
.boton-modal a:hover {
    color: rgba(57, 62, 65, .75);
}

/*Footer*/
footer {
    display: grid;
    width: 100%;
    padding: 70px 0 30px 0;
    margin: auto;
    overflow: hidden;
    background: rgba(234, 228, 216,0.83);
    background: linear-gradient(92deg,rgba(234, 228, 216,0.83) 0%, rgba(234, 228, 216,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background: -webkit-linear-gradient(92deg,rgba(234, 228, 216,0.83) 0%, rgba(234, 228, 216,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background: -moz-linear-gradient(92deg,rgba(234, 228, 216,0.83) 0%, rgba(234, 228, 216,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background-size: 100% 300px;
    height: 300px;
}
.contenedor_footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 80px;
    border-bottom: 1px solid #cccccc;
}
.texto_footer {
    text-align: center;
    font-weight: bold;
}
.email:hover {
    color: rgba(74,189,172,0.73);
    font-weight: bold;
}
.texto_footer h4 {
    color: rgba(57, 62, 65, 0.8);
    border-bottom: 3px solid rgba(57, 62, 65, 0.8);
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.texto_footer p {
    color: rgba(57, 62, 65, 0.8);
}
.texto_footer a {
    color: rgba(57, 62, 65, 0.8);
    text-decoration: none;
}
.final_footer {
    text-align: center;
    font-size: 24px;
    margin: 30px 0 0 0;
    color: rgba(57, 62, 65, 0.8);
}
.fa-facebook:hover {
    color:#3b5998;
}
.fa-linkedin:hover{
    color:#0e76a8;
}
.fa-whatsapp:hover{
    color:#00bb2d;
}
.fa-google-plus:hover {
    color:#db4a39;
}
.fa::before {
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin: 5px;
}
@media screen and (max-width: 900px) {
    .vent-modal {
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }
    .img-modal {
        width: 100%;
        height: 40%;
    }
    .text-modal {
        width: 100%;
        height: 60%;
        padding: 80px;
    }

}



