@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/*General*/
* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    background: url(/img/enca_1.jpg);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Encabezado*/
.encabezado {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: url(/img/enca_1.jpg);
    background-position: center;
    
}
.logo-principal {
    width: 100%;
    height: 200px;
    margin: 0;
    background: rgba(183, 156, 111, 0.83);
}
.logo-principal h1 {
    font-size: 70px;
    float: left;
    padding: 57px 57px;
    top: 0;
    left: 0;
    color: rgba(57, 62, 65);
    letter-spacing: 4px;
}
nav {
    width: 100%;
    top: 0;
    z-index: 1;
    position: fixed;
    padding: 10px;
    background: rgba(57, 62, 65, .75);
    text-align: center;  
}
nav ul {
    list-style: none;    
}
nav ul li {
    display: inline;
    padding-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}
nav ul li a:hover {
    color: white;
}
.encab-public {
    display: grid;
    height: 40px;
    grid-template-columns: 100%;
}
.encab-img-public {
    width: 100%;
    position: relative;
    background: rgba(6, 5, 4);
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 0;
    font-size: 13px;
}
/*Formulario*/
form {
    width: 700px;
    height: 500px;
    margin: auto;
    background: rgba(223,220,227,0.82);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 30px;
}
h1 {
    margin: 30px;
    text-align: center;
    font-size: 40px;
}
h2 {
    color: rgba(57, 62, 65)3;
    text-align: center;
    margin: 0;
    font-size: 25px;
    margin-bottom: 30px;
}
input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    font-family: 'open sans';
}
textarea {
    min-height: 250px;
    max-height: 250px;
    max-width: 100%;
}
#boton_muro_enviar {
    background: #FC4A1A;
    color: white;
    padding: 10px;
}
#boton_muro_enviar {
    cursor: pointer;
}
/*Footer*/
footer {
    display: grid;
    width: 100%;
    padding: 70px 0 30px 0;
    margin: auto;
    overflow: hidden;
    background: rgba(6, 5, 4,0.83);
    background: linear-gradient(92deg,rgba(6, 5, 4,0.83) 0%, rgba(6, 5, 46,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background: -webkit-linear-gradient(92deg,rgba(6, 5, 4,0.83) 0%, rgba(6, 5, 4,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background: -moz-linear-gradient(92deg,rgba(6, 5, 4,0.83) 0%, rgba(6, 5, 46,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background-size: 100% 300px;
    height: 300px;
}
.contenedor_footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 80px;
    border-bottom: 1px solid white;
}
.texto_footer {
    text-align: center;
    font-weight: bold;
}
.email:hover {
    color: rgba(74,189,172,0.73);
    font-weight: bold;
}
.texto_footer h4 {
    color: white;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.texto_footer p {
    color: white;
}
.texto_footer a {
    color: white;
    text-decoration: none;
}
.final_footer {
    text-align: center;
    font-size: 24px;
    margin: 30px 0 0 0;
    color: white;
}
.fa-facebook:hover {
    color:#3b5998;
}
.fa-linkedin:hover{
    color:#0e76a8;
}
.fa-whatsapp:hover{
    color:#00bb2d;
}
.fa-google-plus:hover {
    color:#db4a39;
}
.fa::before {
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin: 5px;
}