@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/*General*/
* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
}

/*Encabezado*/
.encabezado {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: url(/img/enca_1.jpg);
    background-position: center;
    
}
.logo-principal {
    width: 100%;
    height: 200px;
    margin: 0;
    background: rgba(237, 238, 243, 0.73);
}
.logo-principal h1 {
    font-size: 70px;
    float: left;
    padding: 57px 20px;
    top: 0;
    left: 0;
    color: rgba(57, 62, 65);
    letter-spacing: 4px;
}
nav {
    width: 100%;
    top: 0;
    z-index: 1;
    position: fixed;
    padding: 10px;
    background: rgba(57, 62, 65, .75);
    text-align: center;  
}
nav ul {
    list-style: none;    
}
nav ul li {
    display: inline;
    padding-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}
nav ul li a:hover {
    color: white;
}
.encab-public {
    display: grid;
    height: 40px;
    grid-template-columns: 100%;
}
.encab-img-public {
    width: 100%;
    position: relative;
    background: rgba(244, 169, 122,0.74);
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 0;
    font-size: 13px;
}
/*Publicaciones*/
.publicaciones_container {
    position: relative;
    width: 820px;
    height: 1295px;
    margin: 10px auto;
    background: white;
    text-align: center;
    z-index: 0;
}
.publicaciones_container h1 {
    margin: 0 auto;
    margin-bottom: 30px;
    color: #F7B733;
    font-size: 35px;
}

.publicaciones_container .publicaciones_box {
    position: relative;
    width: calc(400px - 20px);
    height: calc(300px - 30px);
    background: RGBA(77,185,170,0.29);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.publicaciones_container .publicaciones_box .publicaciones_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.publicaciones_container .publicaciones_box .publicaciones_icon:hover {
    top: 20px;
    left: calc(50% - 40px);
    width: 58px;
    height: 40px;
    
}
.publicaciones_container .publicaciones_box .publicaciones_icon .img_tesis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    font-size: 100px;
}
.publicaciones_container .publicaciones_box:hover .publicaciones_icon .img_tesis {
    height: 80px;
    margin-top: 30px;
}
.publicaciones_container .publicaciones_box .img_tesis_titulo {
    position: absolute;
    height: calc(100% - 10px);
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    top: 100%;
    transition: 0.8s;
}
.publicaciones_container .publicaciones_box:hover .img_tesis_titulo {
    top: 100px;
}
.publicaciones_container .publicaciones_box .img_tesis_titulo h3 {
    margin: 10px;
    padding: 0;
    color: black;
}
.publicaciones_container .publicaciones_box .img_tesis_titulo p {
    margin: 0;
    padding: 0;
    color: black;
}
.publicaciones_container .publicaciones_box:nth-child(2) .publicaciones_icon {
    background-color: rgba(74,189,172,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(3) .publicaciones_icon {
    background-color: rgba(252,74,26,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(4) .publicaciones_icon {
    background-color: rgba(252,74,26,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(5) .publicaciones_icon {
    background-color: rgba(74,189,172,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(6) .publicaciones_icon {
    background-color: rgba(74,189,172,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(7) .publicaciones_icon {
    background-color: rgba(252,74,26,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(8) .publicaciones_icon {
    background-color: rgba(252,74,26,0.73);
}
.publicaciones_container .publicaciones_box:nth-child(9) .publicaciones_icon {
    background-color: rgba(74,189,172,0.73);
}
/*Footer*/
footer {
    display: grid;
    width: 100%;
    padding: 70px 0 30px 0;
    margin: auto;
    overflow: hidden;
    background: rgba(234, 228, 216,0.83);
    background: linear-gradient(92deg,rgba(234, 228, 216,0.83) 0%, rgba(234, 228, 216,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background: -webkit-linear-gradient(92deg,rgba(234, 228, 216,0.83) 0%, rgba(234, 228, 216,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background: -moz-linear-gradient(92deg,rgba(234, 228, 216,0.83) 0%, rgba(234, 228, 216,0.76) 80%), url(../img/publicaciones/footer_imagen.jpg);
    background-size: 100% 300px;
    height: 300px;
}
.contenedor_footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 80px;
    border-bottom: 1px solid #cccccc;
}
.texto_footer {
    text-align: center;
    font-weight: bold;
}
.email:hover {
    color: rgba(74,189,172,0.73);
    font-weight: bold;
}
.texto_footer h4 {
    color: rgba(57, 62, 65, 0.8);
    border-bottom: 3px solid rgba(57, 62, 65, 0.8);
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.texto_footer p {
    color: rgba(57, 62, 65, 0.8);
}
.texto_footer a {
    color: rgba(57, 62, 65, 0.8);
    text-decoration: none;
}
.final_footer {
    text-align: center;
    font-size: 24px;
    margin: 30px 0 0 0;
    color: rgba(57, 62, 65, 0.8);
}
.fa-facebook:hover {
    color:#3b5998;
}
.fa-linkedin:hover{
    color:#0e76a8;
}
.fa-whatsapp:hover{
    color:#00bb2d;
}
.fa-google-plus:hover {
    color:#db4a39;
}
.fa::before {
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin: 5px;
}